<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% Post.all.each do |post| %>
      <tr>
        <td><%= link_to 'Show', post_path(post.id) %></td>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
